.about {
    background-image: linear-gradient(to top, #d7f1da, #e7f8e8df);
    z-index: 2;
}
.about p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.about-content{
    border-right: 2px solid black;
}
@media screen and (max-width: 600px){
    .about-content{
        border-right: none;
    }
}

.divider {
    height: 1px;
    width: 50%;
    display: block;
    /* for use on default inline elements like span */
    margin: 0 auto;
    overflow: hidden;
    background-color: #000000;
}

.divider2 {
    height: 1px;
    width: 75%;
    display: block;
    /* for use on default inline elements like span */
    margin: 10px auto;
    overflow: hidden;
    background-color: #000000;
}